@charset "utf-8";

.header {
  width: 100%;
  height: 120px;
  background-color: #242f9b;
  color: white;
  font: bold;
  display: flex;
  h1 {
    position: relative;
    top: 15px;
    padding-left: 19px;
    white-space: nowrap;
  }

  .header__errormsg--red {
    color: red;
    font-size: 18px;
    position: relative;
    left: 650px;
    top: 30px;
  }

  p {
    margin: auto 20px auto 706px;
    font-size: 20px;
    white-space: nowrap;
  }
  .header__logout-button,
  .header__edit-button {
    color: white;
    border: 5px solid #6574f5;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
  }

  .header__login-button {
    width: 300px;
    position: relative;
    left: 816px;
    color: white;
    border: 5px solid #6574f5;
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  .header__logout-button:hover,
  .header__edit-button:hover,
  .header__login-button:hover {
    background-color: #6574f5;
  }
}
