@charset "utf-8";

.profile {
  text-align: center;

  .profile__error-message1,
  .profile__error-message2 {
    color: red;
  }

  .profile__username-tag {
    position: relative;
    top: 50px;
    right: 400px;
    font-size: 25px;
  }

  .profile__username {
    position: relative;
    top: 60px;
    right: 405px;
    font-size: 50px;
  }

  .profile__edituser {
    position: relative;
    top: 100px;
    right: 345px;
    width: 350px;
    height: 25px;
    font-size: 25px;
  }

  .profile__submit-edituser {
    background-color: #242f9b;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    top: 200px;
    right: 585px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
  }

  .profile__submit-edituser:hover {
    background-color: #6574f5;
  }

  .profile__icon-tag {
    position: relative;
    bottom: 225px;
    left: 350px;
  }

  .profile__icon {
    position: relative;
    bottom: 215px;
    left: 725px;
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    object-fit: cover;
    border-radius: 10px;
  }

  .profile__changeicon {
    position: relative;
    bottom: 135px;
    left: 480px;
  }

  .profile__submit-changeicon {
    background-color: #242f9b;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    left: 300px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
  }

  .profile__submit-changeicon:hover {
    background-color: #6574f5;
  }

  .profile__return-home {
    background-color: #242f9b;
    color: #ffffff;
    font-size: 25px;
    position: relative;
    top: 50px;
    right: 285px;
    width: 400px;
    height: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .profile__return-home:hover {
    background-color: #6574f5;
  }
}
